* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", "sans-serif";
}

/* Navigation section  and each section of the website*/
#home,
#about,
#skills,
#personal-links,
#contact {
  height: 100vh;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 47, 51);
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 55, 57);
}

#skills {
  background-color: rgb(42, 47, 51);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 55, 57);
}

/* Header section with links to other parts of the website */

header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: rgb(42, 47, 51);
  width: 100%;
  z-index: 999;
  position: fixed;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: #7c7777;
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
  margin: 0 30px;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #2ecc71;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

nav a:hover {
  color: #2ecc71;
}

nav a:hover::before {
  transform: scaleX(1);
}

/* Makes containers be more in the center of the website */
#top-container,
#middle-container,
#links,
#end-container {
  padding-bottom: 40px;
}

/* First part of the website */
#top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 40px;
  gap: 10px;
}

.left,
.right {
  color: white;
  padding: 40px;
}

#top-container img {
  border-radius: 50%;
}

/* About section of the website */

#middle-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 5rem;
  gap: 10px;
  color: white;
}

.right-about,
.left-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
}

.right-about {
  width: 100vh;
}

.about-me {
  font-size: 4rem;
}

/* Skills section */

.inner {
  padding: 10rem;
}

.skills-header {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

.skills-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover > .skill-title::after,
.skill-box:hover > .skill-title::before {
  width: 35px;
}

.skill-box:hover .skill-img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: 0.5s;
}

.skill-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
  transition: 0.5s;
}

.skill-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.skill-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skill-icon {
  width: 50px;
  z-index: 2;
}

.skill-title h3 {
  color: #fff;
  margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
  .skill-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

/* Links part of the website */
#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 50px;
}

#links nav a {
  padding: 10px;
}

#links nav a:visited {
  text-decoration: none;
  color: white;
}

#links nav a:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px black;
  transition: all 0.8s ease;
}

/* Contact part of the website */
#end-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.bottom-left,
.bottom-right {
  padding: 40px;
  color: white;
}
