* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", "sans-serif";
}

/* Navigation section  and each section of the website*/
#home,
#about,
#skills,
#personal-links,
#contact {
  height: 100vh;
  background-color: black;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  position: relative;
  transition: color 0.2s ease;
}

nav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background-color: #2ecc71;
  border-radius: 50px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover::before,
nav a:focus::before,
nav a.active::before {
  transform: scaleX(1); /* Keep underline on hover, focus, or active link */
}

nav a:hover,
nav a:focus,
nav a.active {
  color: #2ecc71; /* Keep the color change for hover, focus, or active state */
}

.active {
  color: #2ecc71; /* Keep the color change for active state */
}

.active::before {
  transform: scaleX(1); /* Keeps the underline active */
}

/* First part of the website */
#top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 40px;
  gap: 10px;
}

.left,
.right {
  color: white;
  padding: 40px;
}

#top-container img {
  border-radius: 50%;
}

/* About section of the website */

#middle-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 5rem;
  gap: 10px;
  color: white;
}

.right-about,
.left-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
}

.about-me {
  font-size: 4rem;
}

/* Skills section */

.inner {
  padding: 10rem;
}

.skills-header {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

.skills-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover > .skill-title::after,
.skill-box:hover > .skill-title::before {
  width: 35px;
}

.skill-box:hover .skill-img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: 0.5s;
}

.skill-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
  transition: 0.5s;
}

.skill-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.skill-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  border-radius: 45px 0 0 45px;
}

.skill-icon {
  width: 50px;
  z-index: 2;
}

.skill-title h3 {
  color: #fff;
  margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
  .skill-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}
/* Contact part of the website */
#end-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.bottom-left,
.bottom-right {
  padding: 40px;
  color: white;
}
